<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/table-of-contents">薄言采之</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>©Soyaine 缉熙的迷宫 </li>
					<li>
						<a href="https://soyaine.github.io">
							<span class="icon icon--earth">{% include icon-earth.svg %}</span>
						</a>
						<a href="mailto:{{ site.email }}">
							<span class="icon icon--email">{% include icon-email.svg %}</span>
						</a>
						<a href="https://github.com/soyaine/read">
							<span class="icon icon--github">{% include icon-github.svg %}</span>
						</a>
						<a href="https://twitter.com/soyaine">
							<span class="icon icon--github">{% include icon-twitter.svg %}</span>
						</a>
						<a href="https://instagram.com/soyaine">
							<span class="icon icon--instagram">{% include icon-instagram.svg %}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>