<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/table-of-contents">薄言采之</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>
						<a href="mailto:{{ site.email }}">
							<span class="icon icon--email">{% include icon-email.svg %}</span>
						</a>
						<a href="https://github.com/{{ include.username }}">
							<span class="icon icon--github">{% include icon-github.svg %}</span>
						</a>
						<a href="https://github.com/{{ include.username }}">
							<span class="icon icon--github">{% include icon-github.svg %}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>